services:
  api:
    container_name: api
    build: ./api
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - rabbitmq:
          condition: service_healthy
      - redis

  worker:
    container_name: worker
    build: ./worker
    command: node dist/worker.js
    env_file: .env
    depends_on:
      - rabbitmq:
        condition: service_healthy
      - redis

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      retries: 10

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
