services:
  api:
    build: .
    container_name: api
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - rabbitmq
      - redis

  worker:
    build: .
    container_name: worker
    command: node dist/worker.js
    env_file: .env
    depends_on:
      - rabbitmq
      - redis

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
